@font-face {
  font-family: 'NameSans';
  font-weight: 1 1000;
  src: url("./fonts/name_sans-variable.woff2");
}

:root {
  --accent: hsl(260deg, 100%, 58%);
  --accent2: hsl(28deg, 100%, 57%);
  --accent-faded: hsla(260deg, 100%, 58%, 0.6);
  --accent2-faded: hsla(28deg, 100%, 57%, 0.6);
  --lightgray: #e0e0e0;
  --gray: hsl(0,0%,50%);
  --navy: #17050F;
  --purple: #461363;
  --blue: #0033ff;
  --offwhite: hsl(0, 0%, 97%);
  --offwhite2: hsl(0, 0%, 94%);
  --white: #fff;
  --text: #000;
  --maincolumn: 40rem;
  --header: 3rem;
  --footer: 12rem;
  --text-wght: 425;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: hsl(260, 100%, 66%);
    --accent2: hsl(28deg, 100%, 57%);
    --accent-faded: hsla(260deg, 100%, 75%, 0.75);
    --accent2-faded: hsla(28deg, 100%, 57%, 0.6);
    --lightgray: hsl(210, 5%, 40%);
    --gray: hsl(210, 5%, 50%);
    --navy: #17050F;
    --purple: #461363;
    --blue: hsl(210, 100%, 76%);
    --offwhite: hsl(210, 15%, 7%);
    --offwhite2: hsl(210, 8%, 10%);
    --white: #000;
    --text: hsl(210, 5%, 84%);
    --text-wght: 400;
  }
  
}


*, *:before, *:after {
  box-sizing: border-box;
}

/* setting up responsive base font sizing */
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 1500));
  }
}
@media screen and (min-width: 1820px) {
  html {
    font-size: 22px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NameSans',system-ui, sans-serif;
  font-weight: var(--text-wght);
  color: var(--text);
  background-color: var(--white);
}

main {
  min-height: calc(100vh - var(--header) - var(--footer));
  padding: 3rem 1rem 3rem;
}
main :first-child {
  margin-top: 0;
}

@media (min-width: 1000px) {
  main {
    padding: 4rem 1rem 6rem;
  }
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li {
  line-height: 1.5;
}
a[href] {
  color: var(--text);
}

header {
  border-bottom: 1px solid var(--lightgray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: var(--header);
}

header a {
  text-decoration: none;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: 'Recursive', Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

/* Header */
.home {
  margin: 0;
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline */
a {
  color: var(--text);
  transition: 0.15s;
  text-decoration: none;
  position: relative;
  background-image: linear-gradient(80deg,var(--accent2-faded), var(--accent-faded));
  background-size: 100% 0.1em;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

a:hover {
  color: var(--accent);
  background: -webkit-linear-gradient(-80deg, var(--accent2) 0%, var(--accent) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: hue 3s alternate infinite;
  background-position: 0 100%;
  /* background-position: calc(20px * -1) 100%, 100% 100%, 0 100%; */
}

a:hover:before {
  background: currentColor;
  opacity: 0.25;
}

header a,
a[href].direct-link,
footer a {
  background-image: none;
}

/* Posts list */
.postlist {
  list-style: none;
  max-width: calc(var(--maincolumn) * 1.5);
  margin: 0 auto;
}
.postlist-item {
  counter-increment: start-from -1;
  margin-bottom: 5vw;
  display: grid;
}

.postlist-metadata {
  display: flex;
  align-content: center;
  text-transform: uppercase;
}

.postlist-date,
.postlist-item:before {
  color: var(--gray);
}
.postlist-date {
  color: var(--gray);
  font-size: 1rem;
  font-weight: 550;
  font-feature-settings: "tnum", "ss01";
  -webkit-text-fill-color: var(--gray);
  text-fill-color: var(--gray);
}
.postlist-link {
  display: grid;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: var(--text);
  padding: 0.5rem 0;
  /* transition: 0.25s; */
  position: relative;
  background-image: none;
}

@media screen and (min-width: 1000px) {
  .postlist-link {
    padding: 1rem 0;
  }
}

a[href].postlist-link:visited {
  color: var(--text);
}

/* a.postlist-link:visited:hover,
.postlist-link:hover {
  color: var(--accent);
  box-shadow: 0rem 0.25rem 3rem hsla(210, 50%, 0%, .25);
}

@media (prefers-color-scheme: dark) {
  a.postlist-link:visited:hover,
  .postlist-link:hover {
    box-shadow: 0rem 0.25rem 3rem hsla(209, 25%, 76%, 0.25);
  } 
} */

.postlist {
  padding: 0;
}

.tmpl-home .postlist-link .post-title {
  font-size: 2rem;
  font-weight: 1000;
  line-height: 1;
  transition: 0.25s;
  padding: 0.25em 0;
}

@media screen and (min-width: 320px) {
  .tmpl-home .postlist-link .post-title {
    font-size: calc(32px + 64 * ((100vw - 320px) / 1500));
  }
}
@media screen and (min-width: 1820px) {
  .tmpl-home .postlist-link .post-title {
    font-size: 96px;
  }
}

.tmpl-home .postlist-link .post-title {
  display: block;
  background: -webkit-linear-gradient(-15deg, #ffa745 0%, #ef7ac8 10%, #a083ed 20%, #43aeff 40%, var(--text)50%, var(--text)100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 250% 100%;
  background-position: 100% 100%;
  transition: background-position .5s ease;
  position: relative;
  z-index: 2;
}

.tmpl-home .postlist-link:hover .post-title {
  background-position: 0% 100%;
  -webkit-animation: hue 3s alternate infinite;
}


@-webkit-keyframes hue {
  33.33% {
    -webkit-filter: hue-rotate(-40deg);
  }
  66.66% {
    -webkit-filter: hue-rotate(20deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

/* post arrow animation */

.tmpl-home .postlist-link:before {
  content: "→";
  font-size: 20vw;
  line-height: 6rem;
  height: 0;
  text-align: right;
  top: 0;
  transform: translate(-0.25em,0);
  opacity: 0;
  z-index: 1;
  color: var(--offwhite2);
  font-weight: 1;
  transition-duration: 0.25s;
  transition-delay: 0s;
  -webkit-text-fill-color: var(--offwhite2);
  text-fill-color: var(--offwhite2);
}


.tmpl-home .postlist-link:hover:before {
  opacity: 1;
  font-weight: 700;
  transform: translate(-0em,0);
  transition-duration: 0.25s;
  transition-delay: 0.15s;
}


/* Tags */
.post-tag,
a[href].post-tag {
  text-transform: uppercase;
  font-size: 0.625em;
  letter-spacing: 0.03em;
  padding: 0.28em 0.5em;
  margin-left: 0.8em;
  color: var(--gray);
  background: var(--offwhite2);
  border-radius: 0.25em;
  text-decoration: none;
  display: flex;
  align-content: center;
  font-weight: 600;
  transition: 0.25s;
}

a[href].post-tag:hover {
  background: var(--lightgray);
  color: var(--text);
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
  font-weight: 300;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: var(--gray);
}

a[href].direct-link:focus,
a[href].direct-link:hover {
  background-image: none;
  -webkit-text-fill-color: var(--accent);
}


/* ------------------------------------------------- */
/* new styles for arrowtype blog */

.tmpl-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tmpl-post h1 {
  margin: 0 auto 0.5em;
  font-size: 2.25rem;
  line-height: 1.125;
  width: 100%;
  max-width: var(--maincolumn);
  font-weight: 800;
  text-transform: uppercase;
  font-feature-settings: "ss01";
  line-height: 1;
}

.content>p:first-child {
  font-size: 150%;
  font-weight: 300;
  max-width: var(--maincolumn);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 500px) {
  .tmpl-post h1 {
    font-weight: 900;
  }
  .content>p:first-child {
    font-size: 125%;
    font-weight: 350;
    line-height: 1.25;
  }
}

@media (min-width: 72rem) {
  .tmpl-post h1{
    font-size: 6rem;
    text-align: center;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
  }

}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content ul,
.content ol,
.content code,
.content pre,
.content pre[class*="language-"],
.content p:not(:first-child),
.content li p,
.content img {
  max-width: var(--maincolumn);
  margin-left: auto;
  margin-right: auto;
}

.content h2,
.content h3,
.content h4 {
  margin-top: 1em;
}

.content h2:before,
.content h3:before,
.content h4:before  { 
  display: block; 
  content: " "; 
  margin-top: -3rem; 
  height: 3rem; 
  visibility: hidden; 
  pointer-events: none;
}

@media screen and (min-width: 1000px) {
  .content h2,
  .content h3,
  .content h4 {
    margin-top: 2em;
  }
}

.content ol,
.content ul {
  padding-left: 1.25rem;
}

.content li {
  margin-bottom: 1em;
}

code {
  background-color: var(--offwhite2);
}
pre code {
  background-color: transparent;
}

.content pre,
.content pre[class*="language-"] {
  font-size: 0.75em;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1rem 1rem;
  max-width: calc(var(--maincolumn) + 2rem);
  background-color: var(--offwhite);
  overflow: auto;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* pagination */

#pagination {
  
  list-style: none;
  border-top: 5px solid var(--offwhite);
  margin: 0 auto;
  margin-top: 4rem;
  padding: 2rem 0;
  width: 100%;
  max-width: var(--maincolumn);
}

@media screen and (min-width: 700px) {
  #pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .next {
    text-align: right;
  }
}

#pagination li {
  margin-bottom: 1rem;
}

#pagination a {
  text-decoration: none;
}

.small-text {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: var(--gray);
}

/* footer */

footer {
  width: 100%;
  min-height: var(--footer);
  padding: 2rem 1rem 4rem;
  background-color: var(--offwhite);
}



footer div {
  max-width: var(--maincolumn);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

footer p,
footer a,
footer a[href]:visited {
  color: var(--gray);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

footer a[href]:hover {
  color: var(--text);
}


/* about / info page */

#info-page h1 {
  font-size: 2rem;
  max-width: var(--maincolumn);
  margin: auto;
}