@font-face {
  font-family: 'NameSans';
  font-weight: 1 1000;
  src: url("./fonts/name_sans-variable.woff2");
}

:root {
  --accent: #0033ff;
  --accent2: #c800ff;
  --lightgray: #e0e0e0;
  --gray: hsl(0,0%,40%);
  --navy: #17050F;
  --purple: #461363;
  --blue: #0033ff;
  --offwhite: #f8f8f8;
  --white: #fff;
  --text: #000;

  --maincolumn: 40rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #009dff;
    --accent2: #c800ff;
    --lightgray: hsl(210, 5%, 40%);
    --gray: hsl(210, 5%, 50%);
    --navy: #17050F;
    --purple: #461363;
    --blue: hsl(210, 100%, 76%);
    --offwhite: hsl(210, 8%, 5%);
    --white: #000;
    --text: hsl(210, 5%, 84%);
  }
  
}


* {
  box-sizing: border-box;
}

/* setting up responsive base font sizing */
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 1500));
  }
}
@media screen and (min-width: 1820px) {
  html {
    font-size: 22px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NameSans',system-ui, sans-serif;
  color: var(--text);
  background-color: var(--white);
}



p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--text);
}
main {
  /* padding: 1rem; */
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px solid var(--lightgray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header a {
  text-decoration: none;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: 'Recursive', Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 0.75em;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: var(--offwhite);
  overflow: auto;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  margin: 0;
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

a {
  color: var(--text);
  transition: 0.25s;
}

a:hover {
  color: var(--accent);
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 4rem 0;
  max-width: calc(var(--maincolumn) * 1.5);
  margin: 0 auto;
}
.postlist-item {
  counter-increment: start-from -1;
  margin-bottom: 4rem;
}

.postlist-metadata {
  display: flex;
  align-content: center;
  text-transform: uppercase;
}

.postlist-date,
.postlist-item:before {
  color: var(--gray);
}
.postlist-date {
  font-size: 1rem;
  font-feature-settings: "tnum";
}
.postlist-link {
  display: inline-block;
  padding-top: 1rem;
  text-decoration: none;
  color: var(--text);
}
a[href].postlist-link:visited {
  color: var(--text);
}

a.postlist-link:visited:hover,
.postlist-link:hover {
  color: var(--accent);
  transition: 0.25s;
}



.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 4rem;
  font-weight: 700;
  transition: 0.25s;
}

.tmpl-home .postlist-link {
  background: -webkit-linear-gradient(-15deg, var(--text)0%, var(--text)50%, #ffa745 60%, #ef7ac8 70%, #a083ed 80%, #43aeff 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 250% auto;
  /* -webkit-animation: textShine 0.25s reverse linear; */
}

.tmpl-home .postlist-link:hover{
  -webkit-animation: textShine 0.25s forwards linear, hue 4s alternate infinite;
}


@-webkit-keyframes hue {
  to {
    -webkit-filter: hue-rotate(-60deg);
  }
}

@-webkit-keyframes textShine {
  to {
    background-position: 100%;
  }
}


/* Tags */
.post-tag,
a[href].post-tag {
  text-transform: uppercase;
  font-size: 0.625em;
  letter-spacing: 0.03em;
  padding: 0.28em 0.5em;
  margin-left: 0.8em;
  color: var(--gray);
  background: var(--offwhite);
  border-radius: 0.25em;
  text-decoration: none;
  display: flex;
  align-content: center;
  font-weight: 600;
  transition: 0.25s;
}

a[href].post-tag:hover {
  background: var(--lightgray);
  color: var(--text);
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* ------------------------------------------------- */
/* new styles for arrowtype blog */

.tmpl-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 4rem;
}

.tmpl-post h1 {
  margin: 1em 0 0.5em;
  font-size: 3rem;
  line-height: 1.125;
}

.content>p:first-child {
  font-size: 150%;
  font-weight: 300;
  max-width: var(--maincolumn);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 72rem) {
  .tmpl-post h1{
    font-size: 6rem;
  }
  .tmpl-post h1,
  .content>p:first-child {
    width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }

}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content ul,
.content ol,
.content code,
.content pre,
.content p:not(:first-child),
.content li p,
.content img {
  max-width: var(--maincolumn);
  margin-left: auto;
  margin-right: auto;
}

.content h2,
.content h3,
.content h4 {
  margin-top: 2em;
}

.content ol,
.content ul {
  padding-left: 1.25rem;
}

.content li {
  margin-bottom: 1em;
}

/* pagination */

#pagination {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
  list-style: none;
  border-top: 5px solid var(--offwhite);
  margin: 0 auto;
  margin-top: 5vw;
  padding: 2rem 0;
  width: 100%;
  max-width: var(--maincolumn);
}

#pagination .next {
  text-align: right;
}

.small-text {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: var(--gray);
}

/* footer */

footer {
  width: 100%;
  padding: 1rem 1rem 4rem;
  background-color: var(--offwhite);
}

footer div {
  max-width: var(--maincolumn);
  margin: 0 auto;
}

footer p,
footer a,
footer a[href]:visited {
  color: var(--gray);
  text-decoration: none;
  font-weight: 600;
}


