---
layout: layouts/base.njk
eleventyNavigation:
  key: Info
  order: 2
---

<main id="info-page" class="page content">
    <h1>
        Notes on type, tech, & design
    </h1>

    {# TODO: add email signup #}

    <p>
        Hi, I’m Stephen Nixon. I make fonts as <a href="https://arrowtype.com">Arrow Type</a>.
    </p>
    <p>
        My first forays into coding were for the web, using HTML, CSS, & JavaScript – topics for which there are a near-infinite number questions & answers readily available through simple web searches. In type design, meanwhile, I have often struggled to find as much information as I’d like, so I’ve had to come up with new strategies for figuring things out.
    </p>
    <p>
        I’m an avid note-taker, so when I do learn something new, I try to write it down so I can look it up later if I need to. I’ve tried to extend this habit as a way to do my part to make more information available in type. Whenever I can, I make it publicly available so that it might help others. Sometimes that’s in a public GitHub Issue, sometimes that’s in a forum post, and sometimes, that’s in a blog post.
    </p>
    <p>
        Here’s to making sharing knowledge!
    </p>

    <h2>Colophon</h2>
    <p>Typeset in <a href="https://www.futurefonts.xyz/arrowtype/name-sans">Name Sans</a> and <a href="https://recursive.design">Recursive</a>.</p>
    <p>Built with <a href="https://11ty.dev">11ty</a>.</p>
</main>

