---
layout: layouts/base.njk
eleventyNavigation:
  key: Info
  order: 2
---

<div id="info-page" class="page content">
    <h1>
        Notes on type, tech, design, & more
    </h1>

    {# TODO: add email signup #}

    <p>
        Hi, I’m Stephen Nixon. I design & develop fonts as <a href="https://arrowtype.com">Arrow Type</a>.
    </p>
    <p>
        Fonts can be surprisingly complex products to design. Not only do typical Latin-script fonts contain hundreds of characters, but they also might exist as a type family, requiring potentially thousands of glyphs to be designed and managed to produce a useful outcome. Beyond the purely aesthetic challenges of drawing so many individual glyphs, the real challenge lies in making them work well together. Spacing (the margins on either side of each glyph) must be carefully refined to work well in (almost) any possible character combination, and then kerning must be added where exceptions are required. This all needs to be proofed. 
    </p>
    <p>
        A whole other layer of complexity arises in font development: building the designed source files into a usable, reliable, well-supported set of fonts for users. OpenType features must be written to allow special features like fractions and stylistic alternates, metadata must be correctly set to allow software to properly display and control fonts, variable fonts may need some special processes, and fonts should be technically tested.
    </p>
    <p>
        All that is to say: “making fonts” can more complex than it sounds. Knowing some code helps you to embrace and deal with that complexity. Code allows you to improve your workflows and push creative boundaries – without always being (completely) dependent on others to make the tools you need.
    </p>
    <p>
        As a designer, my first forays into code were for the web, using HTML, CSS, & JavaScript – topics for which there are a near-infinite number questions & answers readily available through simple web searches. In type design, meanwhile, I have often struggled to find as much information as I’d like, so I’ve had to come up with new strategies for figuring things out.
    </p>
    <p>
        I’m an avid note-taker, so when I do learn something new, I try to write it down so I can look it up later if I need to. I’ve tried to extend this habit as a way to do my part to make more information available in type. Whenever I can, I make it publicly available so that it might help others. Sometimes that’s in a public GitHub Issue, sometimes that’s in a forum post, and sometimes, that’s in a blog post.
    </p>
    <p>
        Here’s to sharing knowledge!
    </p>

    <h2>Colophon</h2>
    <p>Typeset in <a href="https://www.futurefonts.xyz/arrowtype/name-sans">Name Sans</a> and <a href="https://recursive.design">Recursive</a>.</p>
    <p>Built with <a href="https://11ty.dev">11ty</a>.</p>
</div>

