---
layout: layouts/base.njk
eleventyNavigation:
  key: Info
  order: 2
---

<main id="info-page" class="page content">
    <h1>
        Notes on type, tech, & design
    </h1>

    {# TODO: add email signup #}

    <p>
        Hi, I’m Stephen Nixon. I make fonts as <a href="https://arrowtype.com">Arrow Type</a>.
    </p>
    <p>
        My first forays into coding were for the web, using HTML, CSS, & JavaScript – topics for which there are near-infinite questions & answers readily available. In type design, meanwhile, I have always struggled to find as much information as I’d like.
    </p>
    <p>
        I’m an avid note-taker and I learn best by teaching, so I’ve tried to do my part to make more information available in type. I like to write down what I learn, and whenever I can, I make it publicly available so that it might help others.
    </p>
</main>

