---
layout: layouts/base.njk
templateClass: tmpl-post
---

<span class="postlist-date title-date">Published on <time  datetime="{{ date | htmlDateString }}">{{ date | longDate }}</time></span>
<h1>{{ title }}</h1>
<div class="content">
  {{ content | safe }}
</div>

<ul id="pagination">
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}
    <li class="older">
      <span class="small-text">← Older Post ⤙</span><br>
      <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
    </li>
  {% endif %}
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}
    <li class="newer">
      <span class="small-text">⤚ Newer Post →</span><br>
      <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
    </li>
  {% endif %}
</ul>

{% include "subscribe.njk" %}

{# TODO: just add full post list to the footer of each post? #}

{# <ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <div class="postlist-metadata">
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {% for tag in post.data.tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </div>
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
  </li>
{% endfor %}
</ol> #}